*{
    padding:0;
    margin:0;
    font-family:verdana;
}
body
{background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(images/beautiful.jpg);; 
    background-size:100%;
    width:100%;
    height:100%;
position:absolute;}
    nav
    {width:100%;
        height:100px;
        background-color:rgba(0,0,0,0.5);
        line-height:100px;
    }
    nav img{
        height:100px;
        width:170px;
        transition:0.5s all;
    }
    #a nav img:hover{
        transform:scale(1.5);
    }
    nav ul{
        float:right;
        margin-right: 30px;
    }
nav ul li{
   list-style-type:none;
   text-decoration:none;
   display:inline-block;
   transition:0.8s all;

}
#a nav ul li:hover{
    transform:scale(1.2);
}
nav ul li:hover{
    background-color:orange;
    
}
nav ul li a{
    text-decoration:none;
    font-size:18px;
    color:red;
padding:30px
}
#a h1{
font-size:50px;
color:red;
text-shadow:4px 4px 0.8px blueviolet;
transition:0.8s all;
margin-left:500px;
margin-top:50px;

}
#a h1:hover{
    transform:scale(1.5);
}
#a #b img{
    margin-left:520px;
    width:500px;
margin-top:50px;
transition:0.8s all;
}
#a #b img:hover{
    transform:scale(1.2);
}